@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@300&display=swap');


.item{
    position: relative;
    border: 1px solid black;
    width: 250px;
    margin: 3px;
    background-image: url('../../../resources/backgroundGrid.png');
}

.infoBox{
    position:absolute;
    width: calc(100% - 10px);
    bottom: 0;
    background-color: whitesmoke;
    color: black;
    font-size: 15px;
    font-weight: bolder;
    padding: 5px;
    text-transform: uppercase;
    font-family: 'Azeret Mono', monospace;
}
.item>img{
    vertical-align: bottom;
    width: 100%; 
}